@model AddTagRequestVM

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Tag - Admin Functionality</h1>
    </div>
</div>

    <div class="container py-5" >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label
                       asp-for="Name"
                       class="form-label" 
                       >@Html.DisplayNameFor(model => model.Name)</label>
                <input class="form-control" type="text"  asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label
                       asp-for="DisplayName"
                       class="form-label" 
                       >@Html.DisplayNameFor(model => model.DisplayName)</label>
                <input class="form-control" type="text" asp-for="DisplayName" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>

            <div class="mb-3">

                <button class="btn btn-dark" type="submit">Submit</button>
                <a class="btn btn-secondary" asp-controller="AdminTags" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>