@model ReadOnlyTagRequestVM

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Delete Tag - Admin Functionality</h1>
    </div>
</div>

    <div class="container py-5">
            <div class="mb-3">
                <label class="form-label" asp-for="Name">Name: @Model.Name</label>

             
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="DisplayName">DisplayName: @Model.DisplayName</label>
             
            </div>
       
        <form asp-controller="AdminTags" asp-action="Delete" method="post">
            <div class="mb-3">
                <button class="btn btn-danger" type="submit">Delete</button>
                <a class="btn btn-info" asp-controller="AdminTags" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>